extends dashboard 

block main
  style.
    table {
      border-collapse: collapse;
      border: 2px solid rgb(200,200,200);
      letter-spacing: 1px;
      font-size: 0.8rem;
      width: 100%;
    }

    td, th {
      border: 1px solid rgb(190,190,190);
      padding: 10px 20px;
    }

    td {
      text-align: center;
    }

    #deleteBtnWrapper {
      position: relative;
    }

    #deletePopup {
      display: none;
      position: absolute;
      top: -40px;
      left: 40px;
      padding: 20px;
      border: 1px solid black;
      background-color: white;
      z-index: 1;
    }

  - const formatDate = d => [d.getDate().toString().padStart(2, '0'), (d.getMonth() + 1).toString().padStart(2, '0'), d.getFullYear()].join('-')

  p Faktura VAT nr: #{invoice.invoiceNumber}/#{month}/#{year}

  h3 Nabywca:
  ul 
    li #{invoice.buyer.businessName}
    li #{invoice.buyer.nip}
    li #{invoice.buyer.adress}
    li #{invoice.buyer.areaCode} #{invoice.buyer.city}

  p Data wystawienia:
  p #{formatDate(invoice.dateCreated)}

  p Data sprzedaży: 
  p #{formatDate(invoice.transactionDate)}

  p Termin płatności: 
  p #{formatDate(invoice.paymentDue)}

  p Miejsce wystawienia faktury:
  p #{invoice.issuePlace}

  table
    thead 
      tr 
        th Nazwa towaru lub usługi 
        th GTU 
        th Ilość
        th Jednostka 
        th Cena jedn.
        th Wartość
        th VAT
      each item in invoice.invoiceItems
        tr
          td #{item.itemName}
          td #{item.gtu}
          td #{item.itemQuantity}
          td #{item.unit}
          td #{item.singleItemPrice.toFixed(2) + " zł " + item.priceType}
          td #{(item.itemQuantity * item.singleItemPrice).toFixed(2) + " zł " + item.priceType}
          td #{item.taxRate * 100}%

  h3 Podsumowanie faktury: 
  ul 
    li Razem netto: 
    li #{invoice.totals.netTotal.toFixed(2)} zł
    li VAT: 
    li #{invoice.totals.taxTotal.toFixed(2)} zł
    li Razem brutto: 
    li #{invoice.totals.grossTotal.toFixed(2)} zł

  input(type="button" onclick=`window.location='/faktury/${invoice._id}/edytuj'` value="Edytuj")

  div(id="deleteBtnWrapper")
    button(id="deleteBtn" onclick="showDeletePopup()") Usuń
    div(id="deletePopup")
      p Czy na pewno chcesz usunąć?
      form(action=`/faktury/${year}/${month}/${invoice._id}/usun` method='POST')
        input(type="button" value="Nie" onclick="this.closest('#deletePopup').setAttribute('style', 'display: none')")
        input(type="submit" value="Tak")
  script. 
    function showDeletePopup() {document.getElementById("deletePopup").setAttribute('style', 'display: block')}