extends dashboard 

block main
  style.



  - const formatDate = d => [d.getDate().toString().padStart(2, '0'), (d.getMonth() + 1).toString().padStart(2, '0'), d.getFullYear()].join('-')

  div(class='marginBottomMd') 
    strong Faktura VAT nr: #{invoice.invoiceNumber}/#{month}/#{year}
  div(class='divider')

  div(class='flexContainer')
    div(class='col')
      div(class='gridTwoCol')
        div(class='mbMobile alignSelfStart')
          strong Nabywca:
        ul(class='mbMobile')
          li #{invoice.buyer.businessName}
          li #{invoice.buyer.nip}
          li #{invoice.buyer.adress}
          li #{invoice.buyer.areaCode} #{invoice.buyer.city}

    div(class='col')
      div(class='gridTwoCol')
        div(class='mbMobile justifyEndAlignRight')
          strong Data wystawienia:
        div(class='mbMobile') #{formatDate(invoice.dateCreated)}

        div(class='mbMobile justifyEndAlignRight')
          strong Data sprzedaży:
        div(class='mbMobile') #{formatDate(invoice.transactionDate)}

        div(class='mbMobile justifyEndAlignRight') Termin płatności:
        div(class='mbMobile') #{formatDate(invoice.paymentDue)}

        div(class='mbMobile justifyEndAlignRight') Miejsce wystawienia faktury:
        div(class='mbMobile') #{invoice.issuePlace}

  div(class='tableOverflowWrapper marginBottomMd')
    table
      thead 
        tr 
          th(class='fullWidth tdAlignLeft') Nazwa towaru lub usługi 
          th GTU 
          th Ilość
          th Jednostka 
          th Cena jedn. #{invoice.priceType}
          th Wartość #{invoice.priceType}
          th VAT
        each item in invoice.invoiceItems
          tr
            td(class='tdAlignLeft') #{item.itemName}
            td #{item.gtu}
            td #{item.itemQuantity}
            td #{item.unit}
            td #{formatPrice(item.singleItemPrice)}
            td #{formatPrice(item.itemQuantity * item.singleItemPrice)}
            td #{item.taxRate * 100}%

  div(class='flexContainer')
    div(class='col')
      div(class='gridTwoCol')
        div(class='mbMobile') Sposób zapłaty:
        div(class='mbMobile') #{invoice.paymentMethod==='transfer' ? 'Przelew' : 'Gotówka' }

        div(class='mbMobile') Zapłacono PLN: 
        div(class='mbMobile') #{formatPrice(invoice.paid)}

    div(class='col small')
      div(class='marginBottomMd')
        strong Podsumowanie faktury:
      ul(class='marginBottomMd')
        div(class='spaceBetween')
          li Razem netto:
          li #{formatPrice(invoice.totals.netTotal)} zł
        div(class='divider')
        div(class='spaceBetween')
          li VAT:
          li #{formatPrice(invoice.totals.taxTotal)} zł
        div(class='divider')
        div(class='spaceBetween')
          li Razem brutto:
          li #{formatPrice(invoice.totals.grossTotal)} zł
  div(class='divider')
  div(class='flexWrapGap noMarginBottom')
    input(type="button" class='flatButton small marginBottomMd' onclick=`window.location='/faktury/${invoice._id}/pdf'` value="Zapisz PDF")

    input(type="button" class='flatButton small marginBottomMd' onclick=`window.location='/faktury/${invoice._id}/edytuj'` value="Edytuj")

    button(id="deleteBtn" class='flatButton small marginBottomMd' onclick="showDeletePopup()") Usuń

    div(id="deletePopup" class='popup')
      div(class='marginBottomLg') Czy na pewno chcesz usunąć?
      form(action=`/faktury/${year}/${month}/${invoice._id}/usun` method='POST')
        div(class='flexWrapGap center')
          input(type="button" class='flatButton small' value="Nie" onclick="this.closest('#deletePopup').setAttribute('style', 'display: none')")
          input(type="submit" class='flatButton small' value="Tak")

  script. 
    function showDeletePopup() {document.getElementById("deletePopup").setAttribute('style', 'display: block')}