extends dashboard 

block main

  script(src="https://cdn.jsdelivr.net/npm/luxon@3.1.1/build/global/luxon.min.js")

  - const currentDate = new Date().toJSON().slice(0, 10)

  script.
    const DateTime = luxon.DateTime;
    const invoice_data = !{JSON.stringify(invoiceData)}
    const buyerList = !{JSON.stringify(buyerList)}
    const rez = !{JSON.stringify(whatIsThis)}
    //- const usr = !{JSON.stringify(invoiceItems)}

  if user.profileComplete === 0
    p Uzupełnij profil, aby móc wystawiać faktury.
    a(href='/uzytkownik' style={display:'block', 'text-align':'center'}) Kliknij tu
  else
    div(id="popup")
      | Nowy kontrahent:
      form(action='' method='POST' id="newBuyerForm")
        label(for="businessName") Nazwa firmy:
        input(type="text" name="businessName" id="businessName" value="Name" required)

        label(for="nip") NIP:
        input(type="number" name="nip" id="nip" minlength=10 maxlength=10 value="1234567891" required)

        label(for="adress") Adres:
        input(type="text" name="adress" id="adress" value="adress" required)

        label(for="areaCode") Kod pocztowy:
        input(type="text" name="areaCode" id="areaCode" pattern="[0-9]{2}(-)[0-9]{3}" required)

        label(for="city") Miejscowość:
        input(type="text")(for="text" name="city" id="city" value="adress" required)

        button(type="submit" id="confirmPopupBtn") Zatwierdź
        button(type="button" id="closePopupBtn") Anuluj

    div(id="overlay")

    form(action='' method='POST' id="invoiceForm" autocomplete="off")
      p Faktura VAT nr: #{invoiceNumber}/#{month}/#{year}
      input(type='hidden' name="invoiceNumber" value=invoiceNumber)


      div(id="buyerWrapper")
        label(for="buyerInput") Nabywca: 
        input(type="text" id="buyerInput")
        div(id="dropdown")
          div(id="dropdownItems")
      button(type="button" id="showPopupBtn") Dodaj nowego kontrahenta

      ul(id="buyerSpace")
      input(type='hidden' name='buyerId' id='buyerId' value=(buyer===undefined ? '' : buyer._id))

      p
        label(for='dateCreated') Data wystawienia: 
        input(type='date' name='dateCreated' id='dateCreated' value=(dateCreated===undefined ? currentDate : dateCreated) required)

      p
        label(for='transactionDate') Data sprzedaży: 
        input(type='date' name='transactionDate' id='transactionDate' value=(transactionDate===undefined ? currentDate : transactionDate) required)

      p
        label(for='paymentDue') Termin płatności:
        input(type='date' name='paymentDue' id='paymentDue' value=(paymentDue===undefined ? currentDate : paymentDue) required)

      p
        select(id='postponeSelect' onchange='addDays(this.value)' onfocus="this.selectedIndex = -1")
          option(value=7 selected) 7 dni
          option(value=14) 14 dni
          option(value=30) 1 miesiąc

      p
        label(for='issuePlace') Miejsce wystawienia faktury: 
        input(type='text' name='issuePlace' id='issuePlace' value=(issuePlace===undefined ? user.city : issuePlace) required)

      button(type='button' id="addFsetButton" onclick='addFset()') Dodaj kolejne pole

      p Sposób zapłaty:
      select(name='paymentMethod')
        option(value="transfer") Przelew
        option(value="cash") Gotówka

      input(type='hidden' name='fsetIds' id='fsetIds')
      input(type='hidden' name='netTotal' id='netTotal')
      input(type='hidden' name='taxTotal' id='taxTotal')
      input(type='hidden' name='grossTotal' id='grossTotal')

      input(type="submit" id="submitButton" value="Zapisz")



    h3 Podsumowanie faktury:
    ul(id="summary")
      li Razem netto:
      li(id="netTotalElem") 0.00
      li VAT:
      li(id="taxTotalElem") 0.00
      li Razem brutto:
      li(id="grossTotalElem") 0.00

  script(defer src='/javascripts/script.js' data-city=user.city)

  if (invoiceData)
    script.
