extends dashboard 

block main

  script(src="https://cdn.jsdelivr.net/npm/luxon@3.1.1/build/global/luxon.min.js")

  - const currentDate = new Date().toJSON().slice(0, 10)
  - const formatDate = d => [ d.getFullYear(), (d.getMonth() + 1).toString().padStart(2, '0'), d.getDate().toString().padStart(2, '0')].join('-')

  script.
    const DateTime = luxon.DateTime;
    const buyerList = !{JSON.stringify(buyerList)}

  style.
    table {
      border-collapse: collapse;
      border: 2px solid rgb(200,200,200);
      letter-spacing: 1px;
      font-size: 0.8rem;
      width: 100%;
    }

    td, th {
      border: 1px solid rgb(190,190,190);
      padding: 10px 20px;
    }

    td {
      text-align: center;
    }

  if invoice 
    script.
      const invoiceItems = !{JSON.stringify(invoice.invoiceItems)}

  if user.profileComplete === false
    p Uzupełnij profil, aby móc wystawiać faktury.
    input(type="button" class="flat-button" onclick="location.href='/uzytkownik';" value="Kliknij tu")
  else
    div(id='overlay')
    div(id="popup")
      | Nowy kontrahent:
      form(action='' method='POST' id="newBuyerForm")
        label(for="businessName") Nazwa firmy:
        input(type="text" name="businessName" id="businessName" value="Name" required)

        label(for="nip") NIP:
        input(type="number" name="nip" id="nip" minlength=10 maxlength=10 value="1234567891" required)

        label(for="adress") Adres:
        input(type="text" name="adress" id="adress" value="adress" required)

        label(for="areaCode") Kod pocztowy:
        input(type="text" name="areaCode" id="areaCode" pattern="[0-9]{2}(-)[0-9]{3}" required)

        label(for="city") Miejscowość:
        input(type="text")(for="text" name="city" id="city" value="adress" required)

        button(type="submit" id="confirmPopupBtn") Zatwierdź
        button(type="button" id="closePopupBtn") Anuluj

    if monthsArr
      form(action="/miesiac-ksiegowy" method="POST")
        label(class='marginRight') Miesiąc księgowy:
        select(class='selectBig' name="accountingDate" onchange="this.closest('form').submit()")
          each item in monthsArr
            option(value=item.num selected=(item === monthsArr[1])) #{item.word}

    form(action='' method='POST' id="invoiceForm" autocomplete="off")
      p Faktura VAT nr: #{invoice === undefined ? invoiceNumber : invoice.invoiceNumber}/#{month}/#{year}
      input(type='hidden' name="invoiceNumber" value=(invoice === undefined ? invoiceNumber : invoice.invoiceNumber))
      div(class='divider')
      div(class='flexContainer')
        div(class='col')
          div(id="buyerWrapper")
            div(class='alignedInputGroup autoWidth')
              strong
                label(for='buyerInput') Nabywca: 
              div
                input(type="text" id="buyerInput" required=(invoice===undefined))
                div(class='reference')
                  div(id="dropdown")
                    div(id="dropdownItems")
                  button(type="button" class='flat-button small' id="showPopupBtn") Dodaj nowego kontrahenta

                ul(id="buyerSpace")
                  if invoice   
                    li #{invoice.buyer.businessName}
                    li NIP: #{invoice.buyer.nip}
                    li #{invoice.buyer.adress}
                    li #{invoice.buyer.areaCode} #{invoice.buyer.city} 
                input(type='hidden' name='buyerId' id='buyerId')

        div(class='col')
          div(class='alignedInputGroup')
            strong
              label(for='dateCreated') Data wystawienia: 
            input(type='date' name='dateCreated' id='dateCreated' value=(invoice===undefined ? currentDate : formatDate(invoice.dateCreated)) required)

          div(class='alignedInputGroup')
            strong
              label(for='transactionDate') Data sprzedaży: 
            input(type='date' name='transactionDate' id='transactionDate' value=(invoice===undefined ? currentDate : formatDate(invoice.transactionDate)) required)

          div(class='alignedInputGroup')
            label(for='paymentDue') Termin płatności:
            div(class='container')
              input(type='date' name='paymentDue' id='paymentDue' value=(invoice===undefined ? currentDate : formatDate(invoice.paymentDue)) required)

              select(id='postponeSelect' onchange='addDays(this.value)' onfocus="this.selectedIndex = -1")
                option(value=7 selected) 7 dni
                option(value=14) 14 dni
                option(value=30) 1 miesiąc

          div(class='alignedInputGroup')
            label(for='issuePlace') Miejsce wystawienia faktury: 
            input(type='text' name='issuePlace' id='issuePlace' value=(invoice===undefined ? user.city : invoice.issuePlace) required)
      div(style={overflow:'scroll'})
        table 
          thead 
            th Nazwa towaru lub usługi
            th GTU
            th Ilość
            th Jednostka
            th
              | Cena jedn.
              div(class='center')
                select(id="priceType" name="priceType" onchange="changePriceTypeController(this)")
                  option(value="netto" selected=(invoice===undefined || invoice.priceType==="netto")) netto 
                  option(value="brutto" selected=(invoice && invoice.priceType==="brutto")) brutto
            th VAT 
            th
          tbody(id="tbody")

      button(type='button' class='flat-button small' id="addFsetButton" onclick='addFset()') Dodaj kolejne pole

      div(class='divider')

      div(class='flexContainer')
        div(class='col')
          div(class='alignedLabelInput')
            div
              label(for='paymentMethod') Sposób zapłaty:
              select(name='paymentMethod' id="paymentMethod")
                option(value="transfer" selected=(invoice===undefined || invoice.paymentMethod==="transfer")) Przelew
                option(value="cash" selected=(invoice && invoice.paymentMethod==="cash")) Gotówka
            div
              label Zapłacono PLN:
              input(name="paid" type="number" min="0" step="0.01" value=(invoice===undefined ? '0' : invoice.paid))
        div(class='col small')
          h3 Podsumowanie faktury:
          ul(id="summary")
            div(class='spaceBetween')
              li Razem netto:
              li(id="netTotalElem") #{invoice !== undefined ? invoice.totals.netTotal.toFixed(2) : "0.00"}
            div(class='divider')
            div(class='spaceBetween')
              li VAT:
              li(id="taxTotalElem") #{invoice !== undefined ? invoice.totals.taxTotal.toFixed(2) : "0.00"}
            div(class='divider')
            div(class='spaceBetween')
              li Razem brutto:
              li(id="grossTotalElem") #{invoice !== undefined ? invoice.totals.grossTotal.toFixed(2) : "0.00"}

          input(type='hidden' name='fsetIds' id='fsetIds')
          input(type='hidden' name='netTotal' id='netTotal' value=(invoice===undefined ? '' : invoice.totals.netTotal))
          input(type='hidden' name='taxTotal' id='taxTotal' value=(invoice===undefined ? '' : invoice.totals.taxTotal))
          input(type='hidden' name='grossTotal' id='grossTotal' value=(invoice===undefined ? '' : invoice.totals.grossTotal))

          input(type="submit" class='flat-button' id="submitButton" value="Zapisz")
          if invoice
            input(type="button" class='flat-button' onclick=`location.href="/faktury/${invoice._id}";` value="Anuluj")



  script(defer src='/javascripts/script.js' data-city=user.city)