extends dashboard 

block main

  - const formatDate = d => [d.getDate().toString().padStart(2, '0'), (d.getMonth() + 1).toString().padStart(2, '0'), d.getFullYear()].join('-')
  - const months = Array.from(Array(12).keys(), x => x + 1)

  div(id='monthSelector') 
    div(class='monthBtn center centerVert' onclick=`location.href='/lista-faktur/${year - 1}/12';`)
      span <<&nbsp;12.#{year - 1}
    each m in months
      if m === month
        div(class='monthBtn center centerVert' id='selectedMonth' onclick=`location.href='/lista-faktur/${year}/${m}'`)
          span #{m}
      else
        div(class='monthBtn center centerVert' onclick=`location.href='/lista-faktur/${year}/${m}'`)
          span #{m}
    div(class='monthBtn center centerVert' onclick=`location.href='/lista-faktur/${year + 1}/1';`)
      span 01.#{year + 1}&nbsp;>>

  if invoices.length
    div(class='tableOverflowWrapper')
      table(id='invoiceList')
        thead
          tr
            th(class='tdAlignLeft') Nr faktury 
            th Data sprzedaży
            th Data wystawienia
            th(class='tdAlignLeft') Kontrahent
            th Brutto
        tbody
          each invoice in invoices
            tr 
              td(class='tdAlignLeft') 
                a(href=`/faktury/${invoice._id}`) #{invoice.invoiceNumber}/#{month}/#{year}
              td #{formatDate(invoice.transactionDate)}
              td #{formatDate(invoice.dateCreated)}
              td(class='widest' class='tdAlignLeft') #{invoice.buyer.businessName}
              td(style={'white-space': 'nowrap'}) #{formatPrice(invoice.totals.grossTotal)} PLN
  else 
    p W tym miesiącu nie wystawiono żadnych faktur.
